.navbar {
  width: 100%;
  background: #a88702;
}

.navbar-inner {
  max-width: 1200px; 
  margin: 0 auto;            
  display: flex;
  align-items: center;
  justify-content: center;   
  padding: 14px 20px;
  position: relative;    
}
.nav-logo img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}
.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}
.nav-links.desktop {
  display: flex;
  gap: 28px;
}
.contact-btn {
  background: #fff;
  color: #000 !important;
  padding: 6px 16px;
  border-radius: 18px;
  font-size: 16px;
}
.mobile-icon {
  display: none;
  font-size: 26px;
  color: #fff;
  cursor: pointer;
  position: absolute;   
  right: 20px;
}
.nav-links.mobile {
  display: none;
  flex-direction: column;
  align-items: center;
  background: #a88702;
  padding: 16px 0;
  gap: 14px;
}
.nav-links.mobile.open {
  display: flex;
}
/* ================= RESPONSIVE ================= */
@media (max-width: 768px) {

  .navbar-inner {
    max-width: 100%;
    justify-content: space-between;
  }

  .nav-links.desktop {
    display: none;
  }

  .mobile-icon {
    display: block;
  }
}
