* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  background: #fafafa;
}

.page {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
 
}
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #000;
  overflow-x: hidden;
}
